.petcard {
    background-image: url('/images/panelbg.png');
    // filter: brightness(46%);
}

.toppanel {
    background-image: url('/images/cardtoppanel.png');
    width: 239px;
    height: 31px;
    color: '#71FFCF'
}

.claimbutton {
    background-image: url('/images/goldypet/claim.png');
    background-size: cover;
}